      /* css for menu */
      .btn{
            padding: 0px;
      }
      .menu button{
        text-decoration: none;
        font-size: 23px;
        color: #2c3e50;
        display: block;
        background: none !important;
        box-shadow:none !important;
      }
      .menu button:hover {
        color: #2c3e50;
        font-weight:bold;
        font-size:26px;
        transition: width 2s, height 4s;
      }
      .menu{
        width:140px;
        text-align:center;
      }
      /* .menu img{
        width:40px;
        height:40px;
      } */
      .menu button{
        width:140px;
        text-align:center;
      }
      .circle1 i{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#3498db;
      }
      .circle1 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle2{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#FF9999		
        ;
      }
      .circle2 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle3{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#c0392b;
      }
      .circle3 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle4{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#27ae60;
      }
      .circle4 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle5{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#eb4d4b;
      }
      .circle5 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle6{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#f0932b;
      }
      .circle6 i{
        padding: 7px;
        color:#ffffff;
      }
      .circle7{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#7158e2;
      }
      .circle7 i{
        padding: 7px;
        color:#ffffff;
      }
      .menuMini button{
        text-decoration: none;
        font-size: 23px;
        color: #2c3e50;
        display: block;
        background: none !important;
        box-shadow:none !important;
      }
      .menuMini button:hover {
        color: #2c3e50;
        font-weight:bold;
        font-size:26px;
        transition: width 2s, height 4s;
      }
      .menuMini{
        width:85px;
        text-align:center;
      }
      i{
        -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:transform .8s ease-in-out;
      }
      /* .menu i:hover{
        -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      } */
      /* end css for menu */
      /* .search_custom i:hover{
        -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      } */
      .search_custom{
        width:100px;
        text-align:center;
      }
      .search_custom button{
        text-decoration: none;
        font-size: 23px;
        color: #2c3e50;
        display: block;
        background: none !important;
        box-shadow:none !important;
      }
      .search_custom button:hover {
        color: #2c3e50;
        font-weight:bold;
        font-size:26px;
        transition: width 2s, height 4s;
      }
      /* .search_custom img{
        width:40px;
        height:40px;
      } */
      .search_custom button{
        width:60px;
        text-align:center;
      }
      .search_1{
        width: 38px;
        height: 38px;
        border-radius:50px;
        background-color: #2d98da;
      }
      .search_1 i{
        color:#ffffff;
        padding: 5px;
      }
      .search_1 i:hover{
        transition: width 2s, height 4s;
      }
            
      .search_2{
        width: 40px;
        height: 40px;
        border-radius:50px;
        background-color:#FFCCCC	;
      }
      .search_2{
        color:#ffffff;
      }
      .import_1 i{
        width: 38px;
        height: 38px;
        border-radius:50px;
        background-color: #8e44ad;
      }
      .import_1 i{
        color:#ffffff;
      }


      .search_custom .save_1{
        width: 38px;
        height: 38px;
        border-radius:50px;
        background-color: #27ae60;
      }
      .search_custom .save_1{
        color:#ffffff;
      }
      .search_custom .del_1{
        width: 38px;
        height: 38px;
        border-radius:50px;
        background-color: #eb4d4b;
      }
      .search_custom .del_1{
        color:#ffffff;
      }



      
    .white{
      color: #fff !important;
    }
    .white:hover{
      color: #fff;
    }

    #tableSort a{
      color: #818181;
    }

  /* ---------------------------------------------------------------- */
  /* input[type="radio"] {
    width: 100%;
    height: 17px;
    margin-top: 1%;
  } */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(168, 167, 167);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }
